.about-container {
  .introduction {
    background: url("../containers/about/home-bg.jpg") no-repeat center fixed;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 20px;
      align-items: center;

      @include media-breakpoint-up(lg) {
        max-width: 50%;
        padding-top: 40px;
      }

      p {
        font-size: 16px;
        font-weight: $font-weight-normal;
        display: flex;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-up(md) {
          font-size: 22px;
        }
      }
    }
  }
  .heading {
    font-size: 27px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      font-size: 42px;
    }
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: $light-gray;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        max-width: 50%;
      }
    }

    .image-container {
      @include media-breakpoint-up(lg) {
        max-width: 45%;
      }
    }
  }
}