.catering-section {
    background-color: rgba($very-dark-gray, 0.6);
    height: 100vh;
    padding: 300px 20px 20px 20px;

    .catering-form {
      background-color: rgba($very-light-gray, 0.6);
      max-width: 1200px;
      padding: 20px;
      margin: 0 auto;
    }
}