footer {
  background: $light-gray;
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;

  .location {
    background: $very-light-gray;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;

    &:hover {
      background: rgba($bright-red, 0.7);
    }

    img {
        width: 75px;
        height: 80px;
        display: flex;
        align-self: center;
    }

    a {
      display: block;
      color: $very-dark-gray;
      font-weight: $font-weight-semibold;
      font-size: 18px;
      padding: 30px;

      &:hover {
        color: $white;
      }
    }
  }

  .copyright {
    display: block;
    padding: 30px 0;
    text-align: center;
    background: $very-light-gray;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    box-sizing: border-box;

    h5, h6 {
      font-weight: $font-weight-semibold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;

      li {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .logo-container {
      text-align: center;
      margin-bottom: 30px;
      .logo {
        width: 150px;
        height: 120px;
      }
    }

    .hours-container {
      .timings {
        font-weight: $font-weight-normal;
        margin-top: 10px;

        span {
          font-weight: $font-weight-light;
          display: inline-block;
          margin-left: 10px;
        }

        &--weekend {
          margin-top: -10px;
        }
      }
    }

    .contacts-container {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    .bottom-link {
      display: none;
      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;

        li {
          display: inline-block;
          margin-right: 10px;

          a {
            color: #333;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1300px;
      margin: 0 auto;
      width: 100%;

      .bottom-link {
        display: flex;
        flex-direction: column;

        ul {
          li {
            display: block;
          }
        }
      }

      .contacts-container {
        margin-top: 0;
      }
    }
  }
}