.map-container {

  .location-image {
     display: block;
     img {
        width: 100%;
        height: auto;
        min-height: 300px;
     }
  }

  .location-details {
    background-color: #37485a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    .content {
      max-width: 400px;
      margin: 0 auto;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: $white;
      }
    }
  }
}