.menu-container {
  background: url("../containers/menu/menubg.jpg ") no-repeat center fixed;
  background-size: cover;
  height: 1271px;

  .heading {
     font-weight: $font-weight-bold;
     text-align: center;
     padding-top: 100px;
     margin-bottom: 100px;
     color: $white;
  }

  .menu-wrapper {
      background-color: $white;
      padding: 20px 10px;
      width: 100%;
  }
}