.menu-container {
  background: url("../containers/menu/menubg.jpg ") no-repeat center fixed;
  background-size: cover;
  height: 1271px;

  .heading {
     font-weight: $font-weight-bold;
     text-align: center;
     padding-top: 100px;
     margin-bottom: 100px;
     color: #ffffff;
  }

  .menu-wrapper {
      background-color: #ffffff;
      padding: 40px;
      width: 100%;

      .menu {
          padding: 0;
          margin: 0;
          list-style: none;

          &__item {
             .title {
                width: 90%;
                display: inline-block;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  background: radial-gradient(circle closest-side, #b3b3b3 99%, transparent 1%) repeat-x bottom;
                  background-size: 6px 3px;
                  height: 15px;
                  width: 66%;
                }
             }

             .price {

             }
          }
      }
  }
}