.location {
  background: $very-light-gray;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;

  &:hover {
    background: rgba($bright-red, 0.6);
  }

  img {
    width: 50px;
    height: 60px;
    display: flex;
    align-self: center;
  }

  a {
    display: block;
    color: $very-dark-gray;
    font-weight: $font-weight-semibold;
    font-size: 18px;
    padding: 30px;

    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    &:hover {
      color: $white;
    }
  }
}